@charset "UTF-8";
html {
    font-size: 62.5%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    font-size: 1.6rem;
    color: #333;
}

header {
    display: none;
}

input {
    border-radius: 16px;
    border: none;
    padding: 10px 16px;
    outline: none;
    width: 400px;
}

button {
    border-radius: 16px;
    border: none;
    padding: 4px 16px;
    margin-right: 8px;
}

button:hover {
    background-color: #ff7fff;
    color: #fff;
    cursor: pointer;
}

li {
    margin-right: 8px;
    list-style: none;
}

.input-area {
    background-color: #c1ffff;
    width: 100%;
    height: 100px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
    text-align: center;
    line-height: 100px;
}

.incomplete-area {
    background-color: #c6ffe2;
    width: 100%;
    min-height: 400px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

.complete-area {
    background-color: #ffffe0;
    width: 100%;
    min-height: 400px;
    padding: 8px;
    margin: 8px;
    border-radius: 8px;
}

.ttl {
    text-align: center;
    margin-top: 0;
    font-weight: bold;
    color: #666;
    font-size: 2.0rem;
}

.list-low {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}